# Ambiente virtual
env/
venv/

# Arquivos compilados do Python
__pycache__/
*.pyc
*.pyo

# Logs e arquivos temporários
*.log
*.tmp

# Configurações do VS Code
.vscode/

# Cache do Pytest
*.pytest_cache/

# Pacotes instalados (site-packages)
env/Lib/site-packages/
